.right-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .box {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .box:hover {
    transform: translateY(-10px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .box img {
    width: 100%;
    height: auto;
  }